<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body><center>
    <h1>Gossip Girl</h1>
    <h2>Moussaillon Edition</h2>
    <p>Gossip Girl here, your one and only source into the scandalous lives of <bold>THP's moussaillon elite</bold>.</p>
    <img src="https://sarahscoop.com/wp-content/uploads/2022/04/gossipgirl_11.jpg"/>
    <h3>SPOTTED</h3>
    <% gossips.each do |gossip| %>
        <p>
        <%= gossip.author %><br/>
        <%= gossip.content %>
         </p>
    <% end %>
    <br>
    <p>Do you have your own hot tea on these naughty moussaillons? <a href="/gossips/new"><bold>Spill it, bish !</bold></a></p>
    <form action = '/gossips/ method='POST'>
        Tell me more about # <input type='string' name='id'>
        <input type='submit'/>
    </form>
    <p>You know you love me,</p> 
    <p><bold>XOXO Gossip Girl</bold></p>
    <img src="https://i.etsystatic.com/16421349/r/il/802fb6/3258404110/il_794xN.3258404110_mg65.jpg" width="150" height="150">
  </body></center>
</html>