<html>
<head>
<title>Créer un potin</title>
</head>
<body><center>
<h1>Dear Gossip Girl, ...</h1>
<p>You're going to love this:</p>
<img src="https://media.tenor.com/iy97vn4zKXoAAAAC/girl-spill-the-tea.gif">
<form action='/gossips/new/' method='POST'>
  <br>
  <br>
Gossip Queen's Name:  <input type='text' name='gossip_author'/><br/> 
<br>
The Tea: <input type='text' name='gossip_content'/><br/>
<br>
<input type='submit'/>
</form>
</body></center>
</html>